body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: 'Baloo Bhaijaan', cursive;
  line-height: 1.5;
  padding: 10px 10px;
  text-align: center;
}


h1 {
  color: white;
  padding: 5px 0px 5px 0px;
  font-size: 100px;
}

h2 {
  color: white;
  padding: 5px 0px 5px 0px;
  
}
}

a {
  color: #69CBBB;
  text-decoration: none;
}

body {
  background-color: black;

}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

.center {
    margin: auto;
    width: 50%;
    border: 30px solid green;
    padding: 5px;
}
