body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: 'Arial', cursive;
  line-height: 1.5;
  padding: 0px 0px;
  text-align: center;
}


h1 {
  color: white;
  padding: 0px 0px 0px 0px;
  font-size: 25px;
}

h2 {
  color: white;
  padding: 5px 0px 5px 0px;

}
}

a {
  color: #69CBBB;
  text-decoration: none;
}

body {
  background-color: black;

}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

.center {
    margin: auto;
    width: 40%;
    border: 5px solid coral;
    padding: 5px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
